<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- ============ open graph tags ========== -->
<meta property="og:site_name" content="{{ .Site.Params.openGraph.siteName | default .Site.Title}}"/>
<meta property="og:title" content="{{ .Site.Params.openGraph.title | default .Site.Title}}"/>
<meta property="og:description" content="{{ .Site.Params.openGraph.description | default .Site.Params.description }}"/>
<meta property="og:image" content="{{ .Site.Params.openGraph.image | default .Site.Params.logo.main }}">
<meta property="og:url" content="{{ .Site.Params.openGraph.url | default .Site.BaseURL }}">
<meta property="og:type" content="{{ .Site.Params.openGraph.title | default "website"}}"/>

<!-- ============ import common css ========== -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/layouts/main.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" href="/assets/css/navigators/navbar.css" />

<!--=================== cdn ==============================-->
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

<!--================= fab-icon =========================-->
<link rel="icon" type="image/png" href="{{ .Site.Params.logo.favicon | default "/assets/images/favicon.png"}}" />

<!--================= custom style overrides =========================-->
<link rel="stylesheet" href="/assets/css/style.css" />
